#jjtabs .responsive-tabs__heading { display: none;}
#jjtabs .responsive-tabs__list__item { display: inline; cursor:pointer;}
.responsive-tabs-wrapper  { margin-top: 20px; }

@media (max-width: 767px) {
	#jjtabs .responsive-tabs__list {
		display: none;
	}
	#jjtabs .responsive-tabs__heading {
		display: block;
		cursor: pointer;
	}
	#jjtabs .responsive-tabs__panel--closed-accordion-only {
		display: none;
	}
	#jjtabs .responsive-tabs__heading {
		border: 1px solid black;
		border-radius: 4px;
		outline: none;
		margin: 0px;
		margin-bottom: -1px;
	}
}

@media (min-width: 768px) {
	#jjtabs .responsive-tabs__panel--closed-accordion-only {
		display: block !important;
	}

	#jjtabs .responsive-tabs__panel--active {
		border: 1px solid #000000;
		padding: 5px;
		width: 100%;
		margin-top: 5px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	#jjtabs li.responsive-tabs__list__item {
		border: 1px solid #000000;
		padding: 8px;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		outline: none;
		background: lightblue;
		margin-right: -1px;
	}

	#jjtabs ul.responsive-tabs__list {
		padding: 0px;
		margin: 0px;
	}

	#jjtabs li.responsive-tabs__list__item--active {
		background: lightskyblue;
	}
}