#jjtabs .responsive-tabs__heading { display: none;}
#jjtabs .responsive-tabs__list__item { display: inline; cursor:pointer;}
.responsive-tabs-wrapper  { margin-top: 20px; }

@media (max-width: 767px) {
	#jjtabs .responsive-tabs__list {
		display: none;
	}
	#jjtabs .responsive-tabs__heading {
		display: block;
		cursor: pointer;
	}
	#jjtabs .responsive-tabs__panel--closed-accordion-only {
		display: none;
	}
	#jjtabs .responsive-tabs__heading {
		border: 1px solid #000000;
		border-radius: 4px;
		outline: none;
		margin: 0px;
		margin-bottom: -1px;
	}
}

@media (min-width: 768px) {
	#jjtabs .responsive-tabs__panel--closed-accordion-only {
		display: block !important;
	}

	#jjtabs .responsive-tabs__panel--active {
		border: 1px solid #b4b4b4;
		padding: 5px;
		width: 100%;
		margin-top: 2px;
		border-radius: 10px;
	}
	
	#jjtabs ul.responsive-tabs__list {
		padding: 0px;
		margin: 0px;
		margin-left: 10px;
	}

	#jjtabs li.responsive-tabs__list__item {
		border: 1px solid #b4b4b4;
		padding: 5px;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		outline: none;
		margin-right: 2px;
		font-size: 13px;
		font-weight: normal;
	}
	
	#jjtabs li.responsive-tabs__list__item--active {
		font-weight: bold;
	}
}

/*** BLUE TABS ***/
#jjtabs .responsive-tabs__list .blue {
	background-color: #badaf4;
	color: black;
	/* IE10 */ 
	background-image: -ms-linear-gradient(top, #CCE3F6 0%, #A0CCEF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #CCE3F6 0%, #A0CCEF 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #CCE3F6 0%, #A0CCEF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #CCE3F6), color-stop(1, #A0CCEF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #CCE3F6 0%, #A0CCEF 100%);

	/* W3C Markup, IE10 */ 
	background-image: linear-gradient(to bottom, #CCE3F6 0%, #A0CCEF 100%);
}

#jjtabs .responsive-tabs__list .blue:hover {
	background-color: #86bdeb;
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #A0CCEF 0%, #5EA8E4 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #A0CCEF 0%, #5EA8E4 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A0CCEF), color-stop(1, #5EA8E4));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #A0CCEF 0%, #5EA8E4 100%);

	/* W3C Markup, IE10 */ 
	background-image: linear-gradient(to bottom, #A0CCEF 0%, #5EA8E4 100%);
}

#jjtabs .responsive-tabs__list .blue--active, #jjtabs .responsive-tabs__list .blue--active:hover {
	background-color: #479add;
	color: white;
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #5EA8E4 0%, #2384D3 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #5EA8E4 0%, #2384D3 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5EA8E4), color-stop(1, #2384D3));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #5EA8E4 0%, #2384D3 100%);

	/* W3C Markup, IE10 */ 
	background-image: linear-gradient(to bottom, #5EA8E4 0%, #2384D3 100%);
}

/*** RED TABS ***/
#jjtabs .responsive-tabs__list .red {
	background-color: #edb9b7;
	color: black;
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #F1C9C7 0%, #E7A29E 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #F1C9C7 0%, #E7A29E 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F1C9C7), color-stop(1, #E7A29E));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #F1C9C7 0%, #E7A29E 100%);

	/* W3C Markup, IE10 */ 
	background-image: linear-gradient(to bottom, #F1C9C7 0%, #E7A29E 100%);
}

#jjtabs .responsive-tabs__list .red:hover {
	background-color: #e18a86;
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #E7A29E 0%, #D86761 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #E7A29E 0%, #D86761 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E7A29E), color-stop(1, #D86761));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #E7A29E 0%, #D86761 100%);

	/* W3C Markup, IE10 */ 
	background-image: linear-gradient(to bottom, #E7A29E 0%, #D86761 100%);
}

#jjtabs .responsive-tabs__list .red--active, #jjtabs .responsive-tabs__list .red--active:hover {
	background-color: #cd534d;
	color: white;
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #D86761 0%, #BD362F 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #D86761 0%, #BD362F 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D86761), color-stop(1, #BD362F));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #D86761 0%, #BD362F 100%);

	/* W3C Markup, IE10 */ 
	background-image: linear-gradient(to bottom, #D86761 0%, #BD362F 100%);
}